[*.cs]

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = error

# Default severity for analyzer diagnostics with category 'Design'
dotnet_analyzer_diagnostic.category-Design.severity = none
